.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6D6D6D;
    font-size: 16px;
}
.add form{
   gap: 20px;
}
.add-img-upload img{
    width: 120px;
}
.add-product-name, .add-product-description{
    width: max(40%,280px);
}
.add-product-name input ,.add-product-description textarea{
    padding: 10px 10px;
}
.add-category-price{
    display: flex;
    gap: 30px;
}
.add-category-price select,.add-category-price input{
    max-width: 120px;
    padding: 10px;
}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
/* .button-text {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.3s ease;
  } */
  
/* Button styling */
.add-btn {
    position: relative;
    /* padding: 10px 20px; */
    /* font-size: 16px; */
    /* cursor: pointer; */
    /* border: none; */
    /* background-color: black; */
    /* color: white; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  /* Button text */
  .button-text {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.3s ease;
  }


  /* Loader styling */
  .loader {
    position: absolute;
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    opacity: 0;
  }
  
  /* Spinner animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Disabled state */
  .add-btn[disabled] {
    background-color: #494545;
    cursor: not-allowed;
  }
  
  /* Loader and button-text visibility when disabled */
  .add-btn[disabled] .loader {
    opacity: 1;
  }
  
  .add-btn[disabled] .button-text {
    opacity: 0;
  }